<!DOCTYPE html>
<html>
  <head>
    <title>Keepscorrer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <div class="title-bar">
    <div class="wrapper">
      <h1>Score Keep</h1>
      <h2 class="title-bar-subtitle">Created by Abhay Sharma</h2>
    </div>
   </div>
    <%= yield %>
  </body>
</html>
